<div class="container">
  <div class="content">
    <div class="header">
      <span class="text">Favoritos</span>
    </div>
    <div class="cards">
      <ul>
        <li *ngFor="let favoriteCharacter of favoriteCharacters">
          <div class="card">
            <img [src]="favoriteCharacter.image"
             class="img-cards"
             alt="Imagem de cada Personagem"
             (click)="removerFavorito(favoriteCharacter)"
             >
            <div class="card-body">
              <p class="name-text">{{ favoriteCharacter.name }}</p>
              <p class="specie-text">{{ favoriteCharacter.species }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
