.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  background-color: #1F1F1F;
  padding-bottom: 50px;
  box-sizing: border-box;

  .content {
    width: 100%;
    max-width: 720px;
    height: 100%;
    margin-top: 50px;

    .header {
      height: 49px;
      display: flex;
      flex-direction: column;
      align-items: left;
      .text {
        font-family: "Creepster";
        font-size: 25.5px;
        font-weight: 400;
        color: #00B5CC;
        text-shadow: 2px 3px #B2DF28;
        /* margin-bottom: 10px; */
      }

     form > .pesquisar {
        width: 100%;
        min-width: 296px;
        height: 40px;
        border: 1px solid #3D3D3D;
        padding: 0 8px 0 8px;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: "Poppins";
        font-size: min(16px, 4vw);
        font-weight: 400;
        outline: none;
        background-color: #1F1F1F;;
        color: #F2F2F2;
      }
    }

    .cards {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      gap: 24px !important;

      .card {
        width: 100%;
        max-width: 224px;
        height: 100%;
        max-height: 346px;
        margin-top: 50px;
        box-sizing: border-box;
        border-radius: 15px;
        cursor: pointer;

        .img-cards {
          width: 100%;
          height: 100%px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }

        .card-body {
          width: 222px;
          height: 72px;
          background-color: #000;
          padding: 10px 20px 10px 20px;
          box-sizing: border-box;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }

        .name-text {
          font-family: "Creepster";
          font-size: 24px;
          font-weight: 400;
          color: #F2F2F2;
          margin-bottom: 0;
        }

        .specie-text {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 400;
          color: #A4A4A4;
          margin-bottom: 0;
        }
      }

      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row !important;
        gap: 24px;
        padding: 0;
        margin: 0;

        li {
          list-style: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .cards, ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    gap: 24px;
  }
}

@media (min-width: 769px) {
  .header {
    display: flex;
    flex-direction: row !important;
    height: 49px;
    justify-content: space-between;
    align-items: center;

    .text {
      font-size: min(48px, 8vw) !important;
    }
  }

  form >.pesquisar {
    width: 100%;
    max-width: 328px;
    height: 49px !important;
  }

  .cards, ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    gap: 24px;
  }
}
