<div class="container">
  <div class="content">
    <div class="header">
      <span class="text">Favoritos</span>
    </div>
    <div class="cards">
      <ul>
        <li>
          <div class="card">
            <img src="../../../assets/imgs/rick.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build</p>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="../../../assets/imgs/rick.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build</p>
            </div>
          </div>
        </li>

        <li>
          <div class="card">
            <img src="../../../assets/imgs/rick.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
