<div class="container">
  <div class="content">
    <div class="header">
      <span class="text">Início</span>
      <form>
        <input
        class="pesquisar"
        type="text"
        placeholder="Pesquisar"
        (input)="search($event)">
      </form>

    </div>
    <div class="cards">
      <ul>
        <li *ngFor="let list of listaPersonagens">
          <div class="card">
            <img
              [src]="list.image"
              class="img-cards"
              alt="Imagem de cada Personagem"
              (click)="adicionarFavorito(list)">
            <div class="card-body">
              <p class="name-text">{{ list.name }}</p>
              <p class="specie-text">{{ list.species }}</p>
            </div>
          </div>
          <span *ngIf="isFavorito(list) | async">Favorito</span>
        </li>
      </ul>
    </div>
  </div>
</div>
