.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  background-color: #1F1F1F;
  /* padding-bottom: 200px; */
  padding-bottom: 50px;
  box-sizing: border-box;

  .content {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin-top: 50px;

    .header {
      /* height: 49px; */
      height: 98px;
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      align-items: left;
      /* align-items: center; */
      .text {
        font-family: "Creepster";
        /* font-size: min(48px, 8vw ); */
        font-size: 25.5px;
        font-weight: 400;
        color: #00B5CC;
        text-shadow: 2px 3px #B2DF28;
        margin-bottom: 10px;
      }

      .pesquisar {
        width: 100%;
        min-width: 296px;
        height: 49px;
        border: 1px solid #3D3D3D;
        padding: 0 8px 0 8px;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: "Poppins";
        font-size: min(16px 4vw);
        font-weight: 400;
        outline: none;
        background-color: #1F1F1F;;
        color: #F2F2F2;
      }
    }

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 720px;
      /* height: 511px; */
      height: 320px;
      margin-top: 15px;
      background-color: #0A0A0A;
      border: 1px solid #3D3D3D;
      h3 {
        font-family: "Poppins";
        font-weight: 700;
        font-size: min(24px, 6vw);
        color: #FAFAFA;
      }
      p {
        font-family: "Poppins";
        font-weight: 400;
        font-size: min(18px, 4vw);
        color: #A4A4A4;
      }
    }
  }
}

@media (min-width: 769px) {
  .header {
    display: flex;
    flex-direction: row !important;
    height: 49px;
    justify-content: space-between;
    align-items: center;

    .text {
      font-size: min(48px, 8vw) !important;
    }
  }

  .pesquisar {
    width: 100%;
    max-width: 328px;
    height: 49px !important;
  }

  .card {
    height: 511px !important;
  }
}
